*~
*.la
*.lo
*.o
.deps/
.libs/
.DS_Store
aclocal.m4
autom4te.cache/
basic_hooks_test
config.h
config.h.in
config.log
config.status
config/depcomp
config/config.guess
config/config.sub
config/install-sh
config/ltmain.sh
config/missing
configure
libtool
m4/
Makefile
Makefile.in
stamp-h1